<div class="form-group">
    <label for="mt" class="control-label">Meta Trials:</label>
    <div >
        <input type="number" class="form-control" id="mt" name="mt">
    </div>
</div>
<div class="form-group">
    <label for="n_iter" class="control-label">Number of Iterations:</label>
    <div >
        <input type="number" class="form-control" id="n_iter" name="n_iter">
    </div>
</div>
<div class="form-group">
    <label for="n_epis" class="control-label">Number of Episodes:</label>
    <div >
        <input type="number" class="form-control" id="n_epis" name="n_epis">
    </div>
</div>
<div class="form-group row">
    <label for="lr_min" class="col-md-3 control-label">Learning Rate: </label>

    <div class="col-md-1"></div>

    <label for="lr_min" class="col-md-1 control-label">From:</label>
    <div class="col-md-2">
        <input type="number" step="0.01" class="form-control" id="lr_min" name="lr_min">
    </div>

    <label for="lr_max" class="col-md-1 control-label">To:</label>
    <div class="col-md-2">
        <input type="number" step="0.01" class="form-control" id="lr_max" name="lr_max">
    </div>
</div>
<div class="form-group row">
    <label for="rd_min" class="col-md-3 control-label">Reward Decay: </label>

    <div class="col-md-1"></div>

    <label for="rd_min" class="col-md-1 control-label">From:</label>
    <div class="col-md-2">
        <input type="number" step="0.01" class="form-control" id="rd_min" name="rd_min">
    </div>

    <label for="rd_max" class="col-md-1 control-label">To:</label>
    <div class="col-md-2">
        <input type="number" step="0.01" class="form-control" id="rd_max" name="rd_max">
    </div>
</div>

