<div class="form-group row">
    <label for="alpha_min" class="col-md-1 control-label">alpha: </label>

    <div class="col-md-1"></div>

    <label for="alpha_min" class="col-md-1 control-label">From:</label>
    <div class="col-md-2">
        <input type="number" step="0.01" class="form-control" id="alpha_min" name="alpha_min">
    </div>

    <label for="alpha_max" class="col-md-1 control-label">To:</label>
    <div class="col-md-2">
        <input type="number" step="0.01" class="form-control" id="alpha_max" name="alpha_max">
    </div>
</div>