<div class="form-group row">
    <label for="c_min" class="col-md-1 control-label">c: </label>

    <div class="col-md-1"></div>

    <label for="c_min" class="col-md-1 control-label">From:</label>
    <div class="col-md-2">
        <input type="number" step="0.01" class="form-control" id="c_min" name="c_min">
    </div>

    <label for="c_max" class="col-md-1 control-label">To:</label>
    <div class="col-md-2">
        <input type="number" step="0.01" class="form-control" id="c_max" name="c_max">
    </div>
</div>
<div class="form-group row">
    <label for="gamma_min" class="col-md-1 control-label">gamma: </label>

    <div class="col-md-1"></div>

    <label for="gamma_min" class="col-md-1 control-label">From:</label>
    <div class="col-md-2">
        <input type="number" step="0.01" class="form-control" id="gamma_min" name="gamma_min">
    </div>

    <label for="gamma_max" class="col-md-1 control-label">To:</label>
    <div class="col-md-2">
        <input type="number" step="0.01" class="form-control" id="gamma_max" name="gamma_max">
    </div>
</div>