<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <script src="{{url_for('static', filename='js/jquery-3.2.1.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/semantic.min.js')}}"></script>
  <link rel="stylesheet" href="{{url_for('static', filename='css/semantic.min.css')}}">
  <title>Index Page</title>
</head>

<body>
  <form action="#" method="post">
  fieldID1:<br>
  <input type="text" id="fieldID1" name="fieldID1">
  <br>
  fieldID2:<br>
  <input type="text" id="fieldID2" name="fieldID2">
  <br><br>
  <input type="submit" value="Submit">
</form>


</body>

</html>
